body {
  width: 100%;
  background-image: url(wave.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover
}

h1 {
  color: #C0ECA4 ;
	font-size: 30px;
	font-weight: 900;
	margin-bottom: 1rem;
  font-family: sans-serif;
}

ul {
  color: #E5C6C4;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
}
